<div id="map-container" ng-controller="MapController as vm">
  <div id="reset-map" class="">
    <button class="btn btn-default" type="button" ng-click="resetMap()"><i class="glyphicon glyphicon-erase"></i></button>
  </div>
  <ng-map id="map" center="{{vm.defaultPosition}}" zoom="{{vm.defaultZoom}}">
  <marker
    ng-repeat="event in events.eventList | filter:filterText"
    position="[{{event.position.latitude}}, {{event.position.longitude}}]"
    on-click="showEvent(event, event)">
  </marker>
  <!-- Flaw: Case of multiple events on the same location -->
  <info-window id="eventInfo" max-width="200">
    <div>
      <h4><a ng-href="event/{{vm.event.id}}">{{vm.event.name}}</a></h4>
      <div id="info-event-body">
        Description: {{vm.event.description}}<br>
        Tags: {{vm.tags}}
      </div>
    </div>
  </info-window>
  </ng-map>
</div>
