<div id="events-container">
  <!-- <h1 class="jumbotrone index-header">...</h1> -->
  <div id="search-options">
    <h2>Options</h2>
    <div id="search-type" class="row">
      <div class="col-lg-6">
        <h4>Search type</h4>
        <div class="radio"><label><input type="radio" name="optradio" ng-model="radioModel.value" value="id">ID</label></div>
        <div class="radio"><label><input type="radio" name="optradio" ng-model="radioModel.value" value="query">Query</label></div>
        <div class="radio"><label><input type="radio" name="optradio" ng-model="radioModel.value" value="tag">Tag</label></div>
      </div>
    </div><!-- /#search-type -->
    <div id="limit-and-offset">
      <h4>Limit and Offset</h4>
      <div id="div-limit" class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <select class="form-control" id="sel2" ng-model="select2" ng-options="o for o in optionsRange" ng-disabled="isIdSearch()">
              <option value="">Limit <small>(default 20)</small></option>
            </select>
          </div>
        </div>
      </div>
      <div id="div-offset" class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <select class="form-control" id="sel3" ng-model="select3" ng-options="o for o in optionsRange" ng-disabled="isIdSearch()">
              <option value="">Offset <small>(default 0)</small></option>
            </select>
          </div>
        </div>
      </div>
    </div><!-- /#limit-and-offset -->
  </div><!-- /#search-options -->
  <hr>
  <div id="search-events">
    <h2>Search</h2>
    <div id="search-input" class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchText" code="13" my-key-press="searchEvents()" ng-disabled="isTagSearch()">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="searchEvents()" ng-disabled="isTagSearch()">Search</button>
          </span>
        </div>
      </div>
    </div><!-- /#search-input -->
    <div id="search-tag" class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <!-- <label for="sel1">Tags</label> -->
          <select class="form-control" id="sel1" ng-model="select" ng-options="t.name for t in events.tagList" ng-disabled="!isTagSearch()" ng-change="searchEvents()">
            <option value="">{{events.tagFirstSelectOption}}</option>
          </select>
        </div>
      </div>
    </div><!-- /#search-tag -->
  </div><!-- /#search-events -->
  <div id="events-filter-results">
    <h2>Filter Results</h2>
    <div id="event-filter-box" class="row">
      <div class="col-lg-6">
        <input type="text" class="form-control" placeholder="..." ng-model="filterText">
      </div>
    </div>
  </div><!-- /#events-filter-results -->
  <!-- Map -->
  <div id="event-list-map">
    <h2>Map</h2>
    <div id="map-container">
      <ng-map id="map" center="{{mapBox.center}}" zoom="{{mapBox.zoom}}">
        <marker
          ng-repeat="e in events.eventList | filter:filterText"
          position="[{{e.position.latitude}}, {{e.position.longitude}}]"
          on-click="showOnMap(event, e)">
        </marker>
        <!-- Flaw: Case of multiple events on the same location -->
        <info-window id="eventInfo">
          <div ng-non-bindable>
            <h4>{{selectedMarker.position.address_city}}</h4>
            <div ng-repeat="e in selectedMarker.events">
              <h4><a ng-href="event/{{e.id}}">{{e.name}}</a></h4>
              <div id="info-event-body">
                <p>Description: {{e.description}}</p>
                <p>Tags: {{infoWindowTags}}</p>
              </div>
            </div>
          </div>
        </info-window>
      </ng-map>
    </div>
  </div>
  <!-- Event list -->
  <div id="event-list">
    <h2>Event list <small>{{events.message}}</small></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th><a href="add_event"><i class="glyphicon glyphicon-plus"></i></a></th>
        </tr>
      </thead>
      <tr ng-repeat="e in events.eventList | filter:filterText">
        <td><a href="#" ng-click="showOnMap(event, e)"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td><a data-ng-href="event/{{e.id}}">{{e.name}}</a></td>
        <td>{{e.description}}</td>
        <td><a data-ng-href="event/{{e.id}}/delete" ng-show="isOwner(e)"><i class="glyphicon glyphicon-remove"></i></a></td>
      </tr>
    </table>
  </div><!-- /#event-list -->
</div>
