<h1 class="index-header login-header">LOGIN</h1>
<div class="form-content">
	<form name="form" ng-submit="login()" ng-controller="LoginController" class="bottom-30">
		<div class="table-form">
			<div class="form-groups">
				<div class="form-group">
					<input type="email" name="email" id="email" class="form-control input-lg" placeholder="EMAIL" ng-model="email" required>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control input-lg" placeholder="PASSWORD" ng-model="password" required>
				</div>
			</div>
			<div class="button-container">
				<button type="submit" ng-disabled="form.$invalid" class="btn btn-default login">
					<img src="assets/images/arrow.png" alt="Submit button for login form">
				</button>
			</div>
		</div>
	</form>
</div>
